// GENERAL CLASSES
html {
	font-family: 'Fredoka', sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	margin-bottom: 1.5rem;
}

h1 {
	font-size: 45px;
	font-weight: 300;
}

h2 {
	font-size: 30px;
	margin-bottom: 1rem;
}

h3 {
	margin-bottom: .7rem;
}

h4 {
	margin-bottom: .5rem;
}

h5 {
	font-size: 15px;
}

ul {
	height: 100%;
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
}

button {
	background-color: $bkg_color_blue;
	color: white;
	padding: .8rem 1.2rem;
	border: none;
	border-radius: 3px;
	font-size: 11px;
	cursor: pointer;

	&:hover {
		background-color: $bkg_color_black;
	}
}

small {
	font-size: 14px;
	font-weight: 400;
	color: $txt_color_grey;
	margin-bottom: 3rem;
	line-height: 1.5;
}

p {
	font-size: 14px;
	font-weight: 400;
	color: $txt_color_grey;
	line-height: 1.5;
}

nav li {
	height: 100%;
	border-bottom: 2px solid transparent;
}

nav li:hover {
	& a {
		color: $txt_color_blue;
	}
}

// UTILITY CLASSES
.container {
	max-width: 1100px;
	height: 100vh;
	margin: 0 auto;
	background-color: whitesmoke;
}

.container-sec {
	max-width: 900px;
	background-color: $bkg_color_white;
	margin: 0 auto;
	margin-bottom: 8rem;
}

.fa-check {
	color: $txt_color_blue;
	margin-right: 1rem;
}

.header-sec {
	width: 450px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 5rem;
}

li {
	&.active {
		border-bottom: 2px solid $border_color_blue;

		& a {
			color: $txt_color_blue;
		}
	}
}

