html {
	font-family: 'Fredoka', sans-serif;
	font-size: 14px;
	font-weight: 400;
}

.container {
	max-width: 1100px;
	height: 100vh;
	margin: 0 auto;
	background-color: whitesmoke;
}

.container-sec {
	max-width: 900px;
	height: 4rem;
	background-color: $bkg_color_white;
	margin: 0 auto;
}