// BACKGROUND COLORS (5):
$bkg_color_white: #FFFFFF;
$bkg_color_lilla: #e2ecfb;
$bkg_color_blue: #377DFF;
$bkg_color_black: #1E1E1E;
$bkg_color_lightgrey: #D9D9D9;
$bkg_color_lightgreen: #6CDAC1;

// TEXT COLORS (9):
$txt_color_white: #FFFFFF;
$txt_color_lightgreen: #6CDAC1;
$txt_color_coral: #FF796D;
$txt_color_grey: #8E989F;
$txt_color_blue: #377DFF;
$txt_color_darkgrey: #495057;
$txt_color_black: #1E1E1E;
$txt_color_darkblack: #000000;
$txt_color_black2: #191919;

// BORDER COLORS (7):
$border_color_white: #FFFFFF;
$border_color_lilla: #EFF1FE;
$border_color_blue: #377DFF;
$border_color_black: #1E1E1E;
$border_color_whitesmoke1: #F7F7F7;
$border_color_whitesmoke2: #F2F2F2;
$border_color_lightgrey: #EBEBEB;

